*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container {
    display: flex; 
    color: #fff;
    background-color: #5995DA;
    justify-content: center;
}

.menu {
    border: 1px solid #fff;
    width: 900px;
    display: flex;
    justify-content: space-around;

}

.links {
    display:flex;
    border: 1px solid #fff;
    justify-content: flex-end;
}